* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
    margin: 50px auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 280px;
  min-height: 120px;
  float: left;
  /* vertical gutter */
  margin-bottom: 20px;
  background: #FFF;
  border: none;
  border-radius: 2px;
}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.grid-item img {
    width: 100%;    
}