nav{
    position:fixed;
    top:0;
    left:0;
    display: block;
    top: 0;
    left: -300px;
    width:300px;
    height: 100%;
    z-index:500;
    transition: all .3s ease-in-out;
}
#logo{
    position:absolute;
    top:50px;
    left:300px;
    height:40px;
    background-color:#FFF;
    padding: 10px;
}

#logo img{
    margin: 0 0 0 0px;
    height:100%;
}

#menu{
    padding: 50px 0 0 0;
    background-color: #efebeb;
    height:100%;
    width:100%;
}

#menu ul{
    padding: 0;
}

#menu li{
    display: inline-block;
    color: #666666;
    height: 30px;
    width: 90%;
    padding: 6px 0;
    margin: 2px 10px;
    text-align: center;
    background-color: #fff;
}

#menu a:link, a:visited{
    color: #666666;
    text-decoration: none;
}

option{
    display: block;   
}

select[multiple]{
height: 30px
}

select[multiple]:focus{
height:auto
}